<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</head>
<body>
<!-- Registration Form -->
<h2>Registration Form</h2>
<form id="registrationForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>
    <label for="emergencyContact">Emergency Contact Phone:</label>
    <input type="tel" id="emergencyContact" name="emergencyContact" required><br>
    <button type="submit">Register</button>
</form>

<p>Already a user? <a href="{{ url_for('login') }}">Login here</a></p>

</body>
</html>
